body {
  background: #fafafa;
  color: #333333;
  margin: 100px 5%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #313030;
}

.site-header .navbar-nav .nav-link {
  color: #00f9ff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.container{
  min-height: 100vh;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
  text-decoration: none;
  transition: 0.3s;
}

a.article-title:hover {
  color: #2607b3;
  text-decoration: underline;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  background-color: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}

@media screen and (max-width: 991px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
  }
  .navbar-left {
    width: 57px;
  }
  .navbar-right {
    margin: 0;
    padding: 0;
  }
}