<!doctype html>
<html lang="en">
<head>
  <title>Terms of Uses</title>
</head>
<style>
    .content-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        place-items: center;
    }

    .terms-body {
        padding: 0 5%;
    }

    .center-content {
        font-size: 30px;
        margin-top: 100px;
    }

    .center-content a {
        color: #b44538;
        text-decoration: none;
        transition: 0.3s;
    }
    .center-content a:hover {
        color: #00ad9d;
        text-decoration: underline;
    }
</style>
<body>
<div class="content-section">
  <h1 class="heading">Terms of Uses</h1>
  <div class="terms-body">
    <h4>
      Things you Can do
    </h4>
    <div>
      You can do anything except for <b>things you should not do</b>.
    </div>
    <h4>Things you Cannot Do</h4>
    <div>
      When using or accessing Ponder Post, you must comply with these Terms and all applicable laws, rules, and
      regulations. Please review the Content Policy (and, where applicable, the Broadcasting Content Policy),
      which are incorporated by this reference into, and made a part of, these Terms and contain Ponder Posts’s
      rules about prohibited content and conduct. In addition to what is prohibited in the Content Policy,
      you may not do any of the following:
      Use the Services in any manner that could interfere with, disable, disrupt, overburden, or otherwise impair the
      Service;
      Gain access to (or attempt to gain access to) another user’s Account or any non-public portions of the Services,
      including the computer systems or networks connected to or used together with the Services;
      Upload, transmit, or distribute to or through the Services any viruses, worms, malicious code, or other software
      intended to interfere with the Services, including its security-related features;
      Use the Services to violate applicable law or infringe any person’s or entity's intellectual property rights or
      any other proprietary rights;
      Access, search, or collect data from the Services by any means (automated or otherwise) except as permitted in
      these Terms or in a separate agreement with Ponder Posts (we conditionally grant permission to crawl the Services
      in accordance with the parameters set forth in our robots.txt file, but scraping the Services without Ponder
      Post’s prior consent is prohibited); or Use the Services in any manner that we reasonably
      believe to be an abuse of or fraud on this or any payment system.
    </div>
  </div>
  <div class="center-content">
    <a href="{% url 'blog-home' %}">Back to Home</a>
  </div>
</div>
</body>
</html>